<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{tododetails_object.name}}</h1>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Tasks</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tasks in tododetails_object.items.all %}
                    <tr>
                        <td>{{tasks.task}}</td>
                        <td>{{tasks.due_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
